<div class="content_box">
	<h2>
	  <span class="header">weibliche Eigenschaften</span>
	  <br />
	</h2>
	<div class="content_box_contents">
	  <table>
		<tr><td class="label">Körbchengröße</td>
			<td><%= @person.spec_female.breast_cup %></td>
		</tr>
	  </table>
	</div>
</div>