<div class="content_box">
	<h2>
	  <span class="header">weibliche Eigenschaften</span>
	  <span class="edit_link"><%= link_to "(edit)", edit_spec_female_path %></span>
	  <br />
	</h2>
	<div class="content_box_contents">
	  <table>
		<tr><td class="label">Körbchengröße</td>
			<td><%= current_account.person.spec_female.breast_cup %></td>
		</tr>
	  </table>
	</div>
</div>